*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.container{
    max-width: 1140px;
    margin: 40px auto;
}

.btn-primary{
    border: none;
    padding: 15px 20px;
    border-radius: 8px;
    background: #FF900E;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.header{
    height: 1095px;
    background: rgba(255, 144, 14, 0.10);
    /*background-image: url('images/banner.png');
    background-size: 1080px  525px;
    background-repeat: no-repeat;
    position: bottom;*/
}

/*     style Navbar  */
nav{
    padding: 40px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h1{
    font-size: 35px;
    color: #131313;
    text-align: center;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;

}
nav ul li{
    list-style: none;
    margin-left: 40px;
}
nav ul li a{
    color: #424242;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

/*    style Banner   */

.banner{
    margin: 80px auto;
    text-align: center;
   
}

.banner-content{
    padding: 0px 250px;
}

.banner-title{
    color: #131313;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
}

.banner-description{
    color: #727272;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 35px;
}


.banner-image img{
    width: 1080px;
    height: 525px;
    margin: 50px 0px 0px 0px;
}

/*    style  Team section   */

.teams{
    padding: 50px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    gap: 70px;
}

.team-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.team-feature-image img{
    width: 255px;
    min-height: 255px;
}

.team-content{
    gap: 100px;
}
.teams .team-title{
    width: 350px;
    font-size: 35px;
    color: #727272;
    font-weight: 500;
}

.teams .team-description{
    margin: 20px 0px;
    color: #727272;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}

/*      style Fatures Section     */

.features{
    margin: 150px 0px;
    display: flex;
    justify-content: space-between;
    gap: 140px;
}

.feature-title{
    border-left: 5px solid #FF900E;;
    color:  #131313;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
    padding-left: 15px;
}

.feature-description{
    color: #727272;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.feature-content{
    margin-top: 15px;
    padding: 10px 18px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.content-title{
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}

.content-description{
    margin-top: 8px;
    color: #727272;
    font-size: 18px;
    font-weight: 400;
}

.features img{
    width: 530px;
    
}

.ten-years-badge{
    width: 250px;
    padding: 40px 34px;
    background-color: #FF900E;
    border-radius: 8px;
    text-align: center;
    position: relative;
    top: -90px;
    left: -75px;
}
.ten-years-badge h1{
    font-size: 45px;
    color: #FFF;
    font-weight: 800;
}
.ten-years-badge p{
    color: #FFF;
    font-size: 22px;
    font-weight: 500;
}



/*   Style Fact sections  */
.facts .facts-title{
    color: #131313;
    font-size: 35px;
    font-weight: 800;
}

.facts .facts-description{
    width: 410px;
    color: #727272;
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
}

.facts-image{
    margin: 50px 0px;
    padding: 30px 50px;
    display: flex;
    justify-content: space-around;
}

.fact-icon{
    border: 1px solid green;
    border-radius: 5px;
    text-align: center;
    padding: 40px;
}
.fact-icon h2{
    margin: 15px;
}



.sponspors{
    margin: 100px 0px;
}
.sponspors-content{
    margin: 0px auto;
    width: 500px;
    text-align: center;
}

.sponspors-content .title{
    Our Sponspors
    color: #131313;
    font-size: 35px;
    font-weight: 800;
}
.sponspors-content .description{
    color: #727272;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

.sponspors-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    gap: 50px;
}
.sponspors-logo img{
    width: 170px;
    height: 50px;
   
}

/* footer   style    */

.foot{
    margin: 50px 0px;
    padding: 30px 0px;
    text-align: center;
    border-radius: 8px;
    background: #e4c197;
    color: #424242;
    font-size: 20px;
    font-weight: 400;
}



/*Responsive for Mobile */
@media screen and (max-width: 576px) {
    .header, nav,.banner-content, .teams{
        padding: 20px;
    }

    nav, .teams, .sponspors-logo, .facts-image , .features{
        flex-direction: column;
    }
   .header, .banner-title,.ten-years-badge, .banner-image img,
    .banner-drescription,ul li, .team-image img, 
    .team-content, .facts{
        width: 100%;
        height: 100%;
    }

    ul li{
        margin-left: 0px;
    }
    ul li a{
        font-size: 12px;
    }
    .team-image{
        grid-template-columns: repeat(2,1fr);
    }
    .facts{
        margin: 0px auto;
    }
    .facts-image{
        gap: 20px;
    }
}

/*  Responsive sponspores   */

@media screen and (max-width: 576px){
    .sponspors-content{
        width: 100%;
    }

    .sponspors-logo, .columns img{
        width: 100%;
    }

}

/*   Responsive Footer   */

@media screen and (max-width: 576px){
    .foot{
        font-size: 14px;
    }
}
